.back {
  position: absolute;
  height: 580px;
  width: 100%;
  overflow: hidden;
  z-index: -1;


  &__ground {
    background-color: #F2F2F2;
    height: 750px;
    width: 110vw;
    transform-origin: right;
    transform: rotate(356deg);
  }
  @media screen and (max-width: 768px) {
    width: 110%;
    left: 0%;
    height: 478px;
    &:nth-child(5) {
      height: 420px;
    }
    &__ground {
      width: 110vw;
      height: 500px;
      margin-left: -15px;
    }
  }
}
