.back {
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  background-color: #f2f2f2;
  transform: rotate(358deg) translateY(15%);
  width: 120%;
  z-index: -1;
  @media screen and (max-width: 768px) {
    transform: rotate(358deg) translate(-10%,5%);
  }
  @media screen and (max-width: 480px) {
    transform: rotate(357deg) translate(-10%,5%);
  }
}
