.back {
  position: absolute;
  height: 650px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  &__ground {
    background-color: #F2F2F2;
    height: 750px;
    width: 110vw;
    transform-origin: right;
    transform: rotate(356deg);
  }
}