.description {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__name {
    font: 300 50px/68px 'Open Sans', sans-seri;
    margin: 70px;
    width: 780px;
    text-align: center;
  }
  &__body {
    display: flex;
    justify-content: center;

    &-item {
      width: 300px;
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}