.main {
  &__article {

    height: 100vh;
    display: flex;
    justify-content: space-around;

    &:first-child {
      background: url(/images/back-desktop.png);
      background-position: center;
      background-size: cover;
      width: 100%;
    }

  }
}