.main {
  &__article {
    &:first-child {
      background: url(/images/back-desktop.png);
      background-position: center;
      background-size: cover;
    }
    width: 100%;
    height: 100vh;
    display: flex;
  }
}