.map {
  margin-top: 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  &__rec {
    position: absolute;
    z-index: 1;
    top: -45px;
  }
  @media screen and (max-width: 768px) {

    &__rec {
      & svg {
        width: 768px ;
      }
    }
  }
  iframe {
    width: 768px;
    height: 374px;
  }
  &__outer {
    width: 768px;
    height: 374px;
  }
}