<main class="main">
    <div class="main__article home">

    </div>
    <div class="main__article description">
        <div class="main__article-headline description__name">
            Устали от серости мегаполиса? Нам есть, что вам<br>предложить!
        </div>
        <div class="main__article-stages description__body">
            <div class="description__body-item item">
                <div class="item__img">
                    <img src="./images/iphone 1.png" alt="logs" class="item__img-phone">
                    <img src="./images/iphone screen-1.png" alt="logs" class="item__img-screen">
                </div>
                <div class="item__article">
                    Поднимает настроение
                </div>
                <div class="item__text">
                    Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
                </div>
            </div>
            <div class="description__body-item item">
                <div class="item__img">
                    <img src="./images/iphone 1.png" alt="logs" class="item__img-phone">
                    <img src="./images/iphone screen-2.png" alt="logs" class="item__img-screen">
                </div>
                <div class="item__article">
                    Меняет мир вокруг
                </div>
                <div class="item__text">
                    Сделайте снимок и
                    украсьте его смайликом
                    или текстовой подписью, чтобы усилить эффект
                </div>
            </div>
            <div class="description__body-item item">
                <div class="item__img">
                    <img src="./images/iphone 1.png" alt="logs" class="item__img-phone">
                    <img src="./images/iphone screen-3.png" alt="logs" class="item__img-screen">
                </div>
                <div class="item__article">
                    Заводит новых друзей
                </div>
                <div class="item__text">
                    Ставьте лайки, комментируйте, делитесь фотографиями с друзьями
                    и заводите новых
                </div>
            </div>
        </div>
    </div>
    <div class="main__article">

    </div>
    <div class="main__article">

    </div>
    <div class="main__article">

    </div>
</main>
