.header {
  width: 100%;
  background-color: rgb(0 0 0 / 30%);
  position: absolute;

  &__container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;

    &-logo {
      width: 290px;
      line-height: 110px;
    }

    &-menu {
      color: white;
      height: 50px;
      line-height: 110px;
    }
  }
}

