<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pink+</title>
    <link rel="stylesheet" href="./css/index.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
    {% include "./templates/header/index.html" %}
    {% include "./templates/main/main.html" %}
    {% include "./templates/footer/index.html" %}
</body>
</html>